@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 85%,
    rgba(5, 21, 54, 1) 100%
  );
}

h2 {
  margin-bottom: 15px;
}

ul {
  margin-left: 15px;
}

.header {
  background-image: url("https://wallpapers.com/images/hd/investment-background-ntdozfa12skxcjsj.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 700px;
  border-radius: 0 0 35px 35px;
  display: flex;
  margin: 0 40px 0;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  padding: 50px;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 0 0 35px 35px;
}

.header__title,
.header__subtitle {
  color: white;
}

.header__title {
  font-size: 72px;
}

.header__subtitle {
  font-size: 42px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 40px;
}

.main::after {
  content: "";
  flex-grow: 999;
}

.card {
  padding: 32px;
  color: white;
  background-color: #020224;
  border-radius: 25px;
  width: 100%;

  font-size: 24px;

  flex: 1 1 auto;
}

.width-30 {
  width: calc(30% - 90px);
}

.width-40 {
  width: calc(40% - 90px);
}

.width-50 {
  width: calc(50% - 90px);
}

.subcard-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.subcard {
  background-color: rgb(151, 142, 130);
  color: black;
  width: calc(50% - 35px);
  padding: 15px;
  border-radius: 15px;
}

.subcard:nth-child(odd) {
  background-color: rgb(211, 209, 207);
}

.fullwidth {
  width: 100%;
}

.test {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.test__item {
  padding: 15px;
}

.test__variants {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  padding: 10px;
  border: 2px solid;
  border-color: white;
  border-radius: 15px;
}

.test__answer {
  padding: 10px;
  border-radius: 15px;
  border: none;

  font-size: 22px;
}

.test__answer:hover {
  cursor: pointer;
  background-color: rgb(110, 108, 108);
}

.calc {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: left;
}

.calc__value {
  display: flex;
  gap: 15px;
}

.calc__input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.calc__button {
  max-width: 250px;
  padding: 10px;
  border-radius: 15px;
  font-size: 22px;
  font-weight: bold;
}

.calc__button:hover {
  background-color: gray;
  cursor: pointer;
}
